*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: #333;
  --body-txt: hsl(255 100% 100%);
}
body {
  background-color: var(--body-bg);
  color: var(--body-txt);
  font-size: 1rem;
  height: 100vh;
  padding: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}
main {
  max-width: 360px;
  margin-inline: auto;
}
ul {
  margin: 0;
  padding: 0;
}
.items-list,
.search-box {
  padding: 1rem 2rem;
  border: 1px solid orange;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
input,
button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
}
button {
  margin-left: 0.5rem;
}
