*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: #333;
  --body-txt: hsl(255 100% 100%);
}
body {
  background-color: var(--body-bg);
  color: var(--body-txt);
  font-size: 1rem;
  height: 100vh;
  padding: 1em;
}
input,
button {
  padding: 0.5rem;
  font-size: inherit;
}
main{
  max-width: 400px;
  margin: 2rem auto;    
}
.contents {
  border: 1px solid hsl(208, 70%, 64%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}

.result {
  font-size: 2rem;
  color: hsl(208, 100%, 44%);
  min-width: 30px;
  text-align: center;
}
