main {
  --border-clr: orangered;
  max-width: 600px;
  width: 600px;
  margin: 10vh auto;

  text-align: center;
  border: 1px solid var(--border-clr);

  border-radius: 5px;
}

#root h1 {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--border-clr);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.search-box {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.search-box > * {
  font-size: 1.2ren;
}
.definition {
  border-top: 1px solid var(--border-clr);
  padding: 1rem 2rem;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}
