#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  --bdr: goldenrod;
}
.App {
  margin: auto;
  width: 400px;
  border: 1px solid var(--bdr);
  padding: 1rem 2rem;
}
.App h1 {
  border-bottom: 1px solid var(--bdr);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.App .faq__question {
  font-size: 1rem;
}
.faq {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.faq li .faq__question {
  text-align: left;
  cursor: pointer;
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq li .faq__question::after {
  content: "\276F";
  transition: all 0.35s;
  transform-origin: center;
}
.faq li.open .faq__question::after {
  rotate: 90deg;
}
.faq li .faq__info {
  max-height: 0;
  overflow: hidden;
  padding-inline: 0.5rem;
  font-size: 0.9rem;
  transition: max-height 500ms ease-out;
}
.faq li.open .faq__info {
  max-height: 500px;
  transition: max-height 1000ms ease-in;
}
